{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": 3,
      "exclude": ["transform-typeof-symbol"],
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
  ]
}
