name: test
on: [pull_request]
concurrency:
  group: "test"
  cancel-in-progress: false
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup node
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        check-latest: true
    - name: Build and test
      run: |
        npm ci
        npm run prepare
    - name: Check coverage
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
